@model IEnumerable<IGO.ViewModels.COrderDetailViewModel>

@{
    ViewData["Title"] = "QRCode登入成功";
}


    



<div class="col-md-2"></div>
<div class="col-md-8" style="margin: auto">
    <div class="card card p-5" style="width: 100%">
        <h1>入場成功</h1>
        <h3 style="margin-top:10px">票券資訊</h3>
        <table class="table">
            <thead>
                <tr>
                  
                    <th>
                        產品名稱
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FBookingTime)
                    </th>
                    <th>
                       票種
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FQuantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FPrice)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.product.FProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FBookingTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ticket.FTicketName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FPrice)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="col-md-2"></div>

    </div>


    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@

