@model IEnumerable<IGO.ViewModels.CCustomerViewModel>


<h1 class="text-center text-primary">會員管理系統</h1>
<hr />
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}
<hr>
<h5>會員資料清單</h5>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGender)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)

            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FGender)
                    </td>
                    <td>
                        @Html.ActionLink("修改會員資料", "Edit", new { id = item.FCustomerId }) 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


