@using IGO.ViewModels
@model Tuple<CMovieViewModel, List<TSupplier>, List<TShowing>, List<CMovieSeatViewModel>, List<TMovieTicketType>, int>

@section Styles{
    <style>
        .photo-fit {
            width: 100%;
            height: 360px;
            /*object-fit: cover;*/
        }
    </style>
}

<div class="row" style="padding-top:1rem;margin-left:20px">
    <h3 class="fw-bold">@Model.Item1.Cname</h3>
    <div class="col-md-5 col-sm-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.Item1.PhotoPathList.Count; i++)
                {
                    <button type="button" class="@(i == 0 ? "active" : "")" data-bs-target="#myCarousel" data-bs-slide-to="@i"></button>
                }
            </div>
            <div class="carousel-inner bg-secondary">
                @{
                    int index = 0;
                    foreach (string path in Model.Item1.PhotoPathList)
                    {
                        <div class="carousel-item text-center @(index == 0 ? "active" : "") ">
                            <img class="photo-fit" src="/img/@path" />
                        </div>
                        index++;
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">上一張</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">下一張</span>
            </button>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <label class="control-label">影城</label>
                            <button type="button" class="btn btn-primary" style="float:right"  data-bs-toggle="modal" data-bs-target="#SeatChanged" >
                                座位數量變更
                            </button>
                            <select class="form-control" tabindex="1" id="supplier" onchange="ResetSeat();ChangAddress()">
                                <option value="0">請選擇影城</option>
                                @foreach (var a in Model.Item2)
                                {
                                    <option value="@a.FSupplierId">@a.FCompanyName</option>
                                }
                            </select>
                        </div>
                        @*日期========================================*@
                        <div class="col-md-6 my-3">
                            <label class="control-label">日期</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="movie-date"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                            </div>
                        </div>
                        @*場次========================================*@
                        <div class="col-md-6 my-3">
                            <label class="control-label">場次</label>
                            @{
                                int idx = 0;
                                foreach (var a in Model.Item3)
                                {
                                    <input type="radio" class="form-control btn-check" id="@("ticket" + idx)" name="showing" value="@a.FShowingId" onchange="ResetSeat()">
                                    <label class="btn btn-outline-primary" for="@("ticket" + idx)">@a.FShowingName</label>
                                    idx++;
                                }
                            }
                        </div>
                        @*票種========================================*@
                        <div class="col-md-4 my-3">
                            <label class="control-label">票種</label>
                            @{
                                idx = 0;
                                foreach (var a in Model.Item5)
                                {
                                    <input type="radio" class="form-control btn-check" id="@("ticketType" + idx)" name="ticket" value="@a.FTicketTypeId" data-price="@a.FPrice" onchange="GetPrice()">
                                    <label class="btn btn-outline-primary" for="@("ticketType" + idx)">@a.FTicketName</label>
                                    idx++;
                                }
                            }
                        </div>
                        <div class="col-md-4 my-3">
                            <label class="control-label">張數</label>
                            <select class="form-control" tabindex="1" id="count" onchange="GetPrice();CheckCount()">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 my-3">
                            <label class="control-label">價錢</label>
                            <input type="text" id="money" readonly>
                        </div>
                        <div class="col-md-4 my-3">
                            <button type="button" class="btn btn-success" id="btn-seat" data-bs-toggle="modal" data-bs-target="#seatModal" disabled>
                                劃位
                            </button>
                        </div>
                        <div class="col-md-4 my-3">
                            <label class="control-label">座位</label>
                            <span id="seatText"></span>
                            <input type="hidden" id="movieSeat" />
                        </div>
                        <div class="col-md-4 my-3">
                            @if (Model.Item1.IsCollection)
                            {
                                <button type="button" class="btn btn-success" id="btn-collection" onclick="CancelCollection()">
                                    <i class="bi bi-bookmark-check"></i>
                                    已收藏
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-secondary" id="btn-collection" onclick="AddCollection()">
                                    <i class="bi bi-heart"></i>
                                    加入收藏
                                </button>
                            }
                            <button type="button" class="btn btn-outline-secondary" id="btn-shopping-cart" onclick="AddShoppingCart()">加入購物車</button>
                        </div>
                    </div>
                </div>

                @*<div class="m-3">
                        <span class="fw-bold">票種</span>
                        <input type="radio" class="btn-check" id="ticket1" name="ticket" value="1" data-price="350">
                        <label class="btn btn-outline-primary" for="ticket1">全票</label>
                        <input type="radio" class="btn-check" id="ticket2" name="ticket" value="2" data-price="300">
                        <label class="btn btn-outline-primary" for="ticket2">優待票</label>
                        <input type="radio" class="btn-check" id="ticket3" name="ticket" value="3" data-price="270">
                        <label class="btn btn-outline-primary" for="ticket3">預售票</label>
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">日期</span>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">數量</span>
                        <input type="number" class="form-control" id="input-quantity" />
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">價格</span>
                        <span id="lbl-price">TWD - 元</span>
                    </div>
                    <div class="m-3">
                        <button type="button" class="btn btn-primary" id="btn-add-cart">
                            <i class="bi bi-cart-plus"></i>
                            加入購物車
                        </button>

                        <button type="button" class="btn btn-outline-secondary" id="btn-collection">
                            <i class="bi bi-heart"></i>
                            加入收藏
                        </button>

                    </div>*@
            </div>
        </div>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-2 bg-light">
        <nav id="side-nav" class="navbar navbar-light flex-column align-items-stretch p-3 fixedElement">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#description">電影描述</a>
                <a class="nav-link" href="#address">影城地址</a>
                <a class="nav-link" href="#cancel-policy">取消政策</a>
                <a class="nav-link" href="#reviews">客戶評論</a>
            </nav>
        </nav>
    </div>
    <div class="col-10">
        <div>
            <div id="description">
                <h3 class="fw-bold text-primary">
                    <u>電影描述</u>
                </h3>
                <div class="textEditor">

                    <strong>@Model.Item1.Description</strong>


                </div>
            </div>


            <div id="address" class="pt-5">
                <hr />
                <h3 class="fw-bold text-primary"><u>影城地址</u></h3>
                <div class="row">
                    <p style="font-size: 1.3em" id="Address"></p>
                </div>
                <div class="row" id="map" style="height:600px;width:800px;" hidden>
                </div>

            </div>

            <div id="cancel-policy" class="pt-5">
                <hr />
                <h3 class="fw-bold text-primary"><u>取消政策</u></h3>
                <div>

                    所選日期 1 天（含）之前取消，收取手續費 0%<br>
                    所選日期 0 ~ 0 天之間取消，收取手續費 100%<br>
                    <br>
                    注意：由於站內商品來自全球各地，訂單取消時間將依該供應商所在時區判定。<br>
                    供應商需 2-5 個工作天進行取消流程，依照您購買的商品取消政策收取手續費，並於取消流程完成後14 個工作天內退款。<br>
                    <br>
                </div>
            </div>

            <div id="reviews" class="pt-5">
                <h3 class="fw-bold text-primary"><u>客戶評論</u></h3>
                <div class="row g-2">
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">howhow</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    必推!值回票價
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">Jason</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    必來看的一部!
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">jack</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    印入眼前的，難以形容的深刻
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@*======================================電影座位變更=========================*@
<!-- Modal -->
<div class="modal fade" id="SeatChanged" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @*fade 淡入淡出*@
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*內容會有 header body footer三塊*@
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">座位數量變更</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <label for="rowChanged">列:</label>
                <input type="text" id="rowChanged"  placeholder="請輸入列的數量" value="" />
                <label for="colChanged">行:</label>
                <input type="text" id="colChanged" placeholder="請輸入行的數量" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSeatChanged" data-bs-dismiss="modal">變更</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

<!-- Modal -->
<div class="modal fade" id="seatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @*fade 淡入淡出*@
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*內容會有 header body footer三塊*@
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">劃位</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                @{
                    
                    List<string> rowList = Model.Item4.Select(x => x.FSeatRow).Distinct().OrderBy(x => x).ToList();

                    for (int i = 0; i <= (int)ViewBag.row; i++)
                    //foreach (string row in rowList)
                    {
                        List<int> columnList = Model.Item4.Where(x => x.FSeatRow == rowList[i]).Select(x => x.FSeatColumn).Distinct().OrderBy(x => x).ToList();
                        for (int j = 0; j <= (int)ViewBag.col; j++)
                        //foreach (int column in columnList)
                        {
                            var seat = Model.Item4.FirstOrDefault(x => x.FSeatRow == rowList[i] && x.FSeatColumn == columnList[j]);
                            <a role="button" onclick="ChooseSeat('@("seat"+rowList[i]+columnList[j])')">
                                <span>@(rowList[i] + columnList[j])</span>
                                <img id="@("seat"+rowList[i]+columnList[j])" src="/img/can-choose.png" class="seat" data-seat-name="@(rowList[i]+columnList[j])" data-id="@seat.FSeatId" />
                            </a>
                        }

                        <br />
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" onclick="SaveSeat()">儲存</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        //===========================座位排版變更=========================
        $(function () {
            const btnSeatChanged = $("#btnSeatChanged");
            btnSeatChanged.click(function () {
                var row = $("#rowChanged").val()-1;
                var col = $("#colChanged").val()-1;
                let ID = @Model.Item1.MovieId;
                console.log(ID);
                window.location.href = `Detail?ID=${ID}&row=${row}&col=${col}&dataId=${ID}`
                @*$.ajax({
                    url : "@Url.Content("~/Movie/Detail")",
                    type: "post",
                    data: {ID:1, row: row, col: col }

                })*@


                
                
            });


        })
        //地圖=====================================================================
        let map1;

        let place;

        function initMap(t, g) {
            map1 = new google.maps.Map(document.getElementById("map"), {
                center: { lat: t, lng: g },
                zoom: 18,
                maxZoom: 20,
                minZoom: 2,
            });
        }
        $(document).ready(function () {
            mapping();
        });
        function setMarker(t, g) {
            const marker = new google.maps.Marker({
                position: { lat: t, lng: g },
                map: map1
            });
        }

        function mapping(addr) {

            const geocoder = new google.maps.Geocoder();

            //console.log("AA");
            //console.log(addr);

            let lat1, lng1;

            geocoder.geocode({
                "address": addr, componentRestrictions: { country: "TW" }
            }, function (results, status) {
                if (status == "OK") {
                    console.log(results);

                    console.log(results[0].geometry.viewport.Ra.hi);
                    console.log(results[0].geometry.viewport.ub.hi);

                    lat1 = results[0].geometry.viewport.ub.hi;
                    lng1 = results[0].geometry.viewport.Ra.hi;

                    initMap(lat1, lng1);

                    // 建立地標
                    setMarker(lat1, lng1);
                } else {
                    //console.log(status);
                }

            });

        }
        //地圖=====================================================================

        let movieLenth = 0;
        let total =@Model.Item4.Count;

        $('#movie-date').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function () {
            ResetSeat();
        });

        $('#seatModal').on('hide.bs.modal', function () {
            $.each($("img.seat"), function (index, item) {
                $(item).attr("src", "/img/can-choose.png")
            })
            SearchChosenSeat();
        })

        $('#seatModal').on('show.bs.modal', function () {
            let chosenSeatString = $("#seatText").text();
            let chosenSeatArray = chosenSeatString.split("、");

            //['A1','A2']
            $.each(chosenSeatArray, function (index, item) {
                $("#seat" + item).attr("src", "/img/chosen.png");
            })
        });

       function ChangAddress() {
            let supplierID = $('#supplier').val();
            $.ajax({
                url: "@Url.Content("~/Movie/ChangAddress")",
                method: 'POST',
                data: { supplierID} ,
                success: function (res) {
                    console.log(res);
                    $("#Address").text(res);
                    if (res == " ") {
                        document.querySelector("#map").setAttribute("hidden", true);
                    } else {
                        document.querySelector("#map").removeAttribute("hidden");
                        mapping(res);
                    }
                },
                error: function (res) { }
            })
        }

        function SaveSeat() {
            let count = +$('#count').val();
            let chosenCount = $('img.seat[src="/img/chosen.png"]').length;

            if (chosenCount < count) {
                alert("還有" + (count - chosenCount) + "個座位未劃位");
                return;
            }

            let seats = [];
            let seatIDs = [];

            $.each($('img.seat[src="/img/chosen.png"]'), function (index, item) {
                seats.push($(item).data("seat-name"));
                seatIDs.push($(item).data("id"));
            })

            $("#seatText").text(seats.join('、'));
            $("#movieSeat").val(seatIDs.join('、'));
            $('#seatModal').modal('hide');
        }

        function CheckCount() {
            let count = $('#count').val();
            if (total - movieLenth < count) {
                alert("座位數不足");
                $('#btn-seat').attr('disabled', true);
            }
            else {
                $('#btn-seat').removeAttr('disabled');
            }
        }

        function ResetSeat() {
            let data = {
                supplier: $("#supplier").val(),
                showing: $('input[name="showing"]:checked').val(),
                date: $('#movie-date').val(),
            }
            if (data.supplier == 0 || data.showing == undefined || data.date == '') {
                $("#btn-seat").attr("disabled", true);
            }
            else {
                $("#btn-seat").removeAttr("disabled");
            }

            $("#seatText").text('');
            $("#movieSeat").val('');

            $.each($("img.seat"), function (index, item) {
                $(item).attr("src", "/img/can-choose.png")
            })

            SearchChosenSeat();
        }

        function GetPrice() {
            let price = $('input[name="ticket"]:checked').data("price");
            let ticket = +$('#count').val();
            let total = price * ticket;
            if (price == undefined) { return;}
            $('#money').val(total);
        }

        function CancelCollection() {
            $.ajax({
                url: '@Url.Content("~/Movie/CancelCollection")',
                method: 'POST',
                data: {
                    customerID:@Model.Item6,
                    movieID:@Model.Item1.MovieId
                },
                success: function (res) {
                    if (res) {
                        location.reload();
                    }
                },
                error: function (err) { console.log(err) },
            });
        }

        function AddCollection() {
            $.ajax({
                url: '@Url.Content("~/Movie/AddCollection")',
                method: 'POST',
                data: {
                    customerID:@Model.Item6,
                    movieID:@Model.Item1.MovieId
                },
                success: function (res) {
                    if (res) {
                        location.reload();
                    }
                },
                error: function (err) { console.log(err) },


            });
        }

        function SearchChosenSeat() {
            let data = {
                movieID:@Model.Item1.MovieId,
                movieDate: $('#movie-date').val(),
                supplierID: $('#supplier').val(),
                showingID: $('input[name="showing"]:checked').val()
            };

            if (data.supplierID==0 ||data.movieDate == '' || data.showingID == undefined) { return;}

            $.ajax({
                url: '@Url.Content("~/Movie/SearchChosenSeat")',
                method: 'POST',
                data: data,
                success: function (res) {
                    movieLenth = res.length;
                    //['A1','A2']
                    res.forEach(function (item) {
                        $("#seat" + item).attr("src","/img/cant-choose.png")
                    });
                },
                error: function (err) { console.log(err) },
            });
        }

        function AddShoppingCart() {
            let data =
            {
                userID:@Model.Item6,
                money: $('#money').val(),
                bookingTime: $('#movie-date').val(),
                supplierID: $('#supplier').val(),
                showingID: $('input[name="showing"]:checked').val(),
                count: +$("#count").val(),
                movieID:@Model.Item1.MovieId,
                movieSeat: $('#movieSeat').val(),
                ticketTypeID: $('input[name="ticket"]:checked').val(),
            }
            if (data.userID == 0) {
                alert("請先登入，再加入購物車");
                return;
            }
            let errorField = [];
            if (data.supplierID == 0) {
                errorField.push("影城");
            }
            if (data.bookingTime == '') {
                errorField.push("日期");
            }
            if (data.showingID == undefined) {
                errorField.push("場次");
            }
            if (data.ticketTypeID == undefined) {
                errorField.push("票種");
            }

            if (errorField.length > 0) {
                alert("請輸入必填欄位: " + errorField.join('、'))
                return;
            }

            let chosenSeat = data.movieSeat == '' ? 0 :  data.movieSeat.split('、').length;
            if (chosenSeat < data.count)
            {
                alert("還有" + (data.count - chosenSeat) + "個座位未劃位");
                return;
            }
            $.ajax({
                url: '@Url.Content("~/Movie/AddShoppingCart")',
                method: 'POST',
                data: data,
                success: function (res) {
                    if (res) {
                        alert("成功加入購物車");
                        location.reload();
                    }
                },
                error: function (err) { console.log(err) },
            });
        }

        function ChooseSeat(seat) {
            let imgPath = $("#" + seat).attr("src");

            switch (imgPath) {
                case '/img/can-choose.png':
                    let chosenCount = $("img.seat[src='/img/chosen.png']").length;  //已選取的座位數
                    let count = +$("#count").val();   /*取得這次選了要購買張數*/
                    if (count == chosenCount) {
                        alert('已超過購買張數');
                        break;
                    }
                    $("#" + seat).attr("src", "/img/chosen.png");
                    break;
                case '/img/chosen.png':
                    $("#" + seat).attr("src", "/img/can-choose.png");
                    break;
            }
        }
    </script>

}
