@using IGO.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IGO-訂票系統</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Favicon -->
    @*<link href="img/favicon.ico" rel="icon">*@

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Site CSS -->
    <link href="/css/site.css?v=@(DateTime.Now.ToString("yyyyMMddHHmmss"))" rel="stylesheet" />
    @*育緯新增*@

    <!-- Date picker plugins css -->
    <link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*宜潔新增*@
    <style>
        .message-fix {
            position: fixed;
            right: 20px;
            bottom: 420px;
            /* left: 50px;*/
            z-index: $zindex-fixed;
            font-size: 150%;
            color: orange;
        }

        .parking-fix {
            position: fixed;
            right: 20px;
            bottom: 280px;
            /* left: 50px;*/
            z-index: $zindex-fixed;
            font-size: 150%;
            color: orange;
        }
        .face-fix {
            position: fixed;
            right: 5px;
            bottom: 100px;
            /* left: 50px;*/
            z-index: $zindex-fixed;
            font-size: 150%;
            color: orange;
        }
    </style>

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <!-- Header Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0 fixed-top">
            <div class="col-lg-3 bg-dark d-none d-lg-block">
                <a href="~/Home/Home" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <h1 class="m-0 text-primary text-uppercase">IGO</h1>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-dark d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                    <a href="~/Home/Home" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 text-primary text-uppercase">IGO</h1>
                    </a>


                    <div class="navbar-nav mr-auto py-0" id="category">
                    </div>
                    <div class="offcanvas offcanvas-start bg-warning" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                        </div>
                        <div class="offcanvas-body bg-dark">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    @*7/28調整版面*@
                    <div class="col-sm-1 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                        </div>
                    </div>
                    @*宜潔新增*@
                    <a href="/Test/Index" class="nav-item nav-link" style="font-size:120%">玩樂性格測驗</a>

                    <div class="nav-item">
                        <a href="~/ShoppingCart/List">
                            <i class="fa-solid fa-cart-plus"></i>
                            <span style="font-size:120%">購物車</span><span style="color: #DEDEBE; font-size: 120%"></span>
                        </a>
                    </div>
                    @{
                        if (Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                        {
                            <div class="navbar-nav navbar-right mr-auto py-0 dropdown">
                                <a class="btn dropdown-toggle nav-item nav-link" href="/Customer/Index" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (CustomerController.imgpath == null)
                                    {
                                        <img width="50" height="50" class="rounded-circle " src="/img/UID_0.jpg">
                                    }
                                    else
                                    {
                                        <img width="50" height="50" class="rounded-circle " src="/img/@CustomerController.imgpath">
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink" width="80">
                                        <li><a class="dropdown-item" href="~/Order/List"><i class="fa-solid fa-list"></i>檢查登入ID</a></li>
                                        @*7/26修改*@
                                        <li><a class="dropdown-item" href="~/Customer/Index" id="order"><i class="fa-solid fa-list"></i> 我的訂單</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-tags"></i> 優惠碼</a></li>
                                        <li><a class="dropdown-item" href="/Collection/myFavGroup"><i class="fa-solid fa-heart"></i> 我的收藏</a></li>
                                        <li><a class="dropdown-item" href="/Customer/Index"><i class="fa-solid fa-gear"></i> 帳戶設定</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/Customer/Logout"><i class="fa-solid fa-right-from-bracket"></i> 登出</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            @*7/28刪掉登入的框線*@
                            <div class="navbar-nav navbar-right mr-auto py-0 ">
                                <button type="button" class="btn btn-lg text-warning" data-bs-toggle="modal" data-bs-target="#loginModal">
                                    <i class="fa fa-user"> 登入/ 註冊 </i>
                                </button>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                        }
                    }

                    <a href=""></a>

                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!--<div class="container-xxl py-5">-->
    @*使下面部分不會被擋住*@
    <!--</div>-->
    <div class="container-xxl py-5" id="startnow">
        使下面部分不會被擋住
    </div>
    @*次分類*@
    @*<div id="subcategory" style="background-color: #E0E0E0" class="fixed-top">
            <div class="collapse" id="collapseExample">
                <div class="card card-body"></div>
            </div>
        </div>*@

    @RenderBody()


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-md-10 col-lg-4">
                    <div class="bg-primary rounded p-4">
                        <a href="index.html"><h1 class="text-white text-uppercase mb-3">IGO</h1></a>
                        <p class="text-white mb-0">
                            <a class="text-dark fw-medium" href="https://htmlcodex.com/hotel-html-template-pro"></a>
                    </div>
                </div>
                <div class="col-md-10 col-lg-3 justify-content-xxl-center">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">聯絡我們</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>台北市大安區復興南路1段390號2樓</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>02-66316588</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-5">
                        <a class="btn btn-outline-light btn-social m-4 text-primary" href="https://www.instagram.com/igo_taiwan/" style="font-size:150%"><i class="fa-brands fa-instagram-square"></i></a>
                        <a class="btn btn-outline-light btn-social m-4 text-primary" href="" style="font-size:150%"><i class="fa-brands fa-facebook-square"></i></a>
                        <a class="btn btn-outline-light btn-social m-4 text-primary" href="" style="font-size:150%"><i class="fa-brands fa-line"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 justify-content-xxl-center">
                    <div class="row gy-5 g-4">
                        <div class="col-md-10">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">IGO</h6>
                            <a class="btn btn-link" href="/About/index">關於IGO</a>
                            <a class="btn btn-link" href="/About/Helper">幫助中心</a>
                            <a class="btn btn-link" href="/Privacy/index">隱私權</a>

                            @*<a href="/Admin/Coupon/List" class="btn btn-link">管理後台</a>*@
                            <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#BackendModal">管理後台</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">IGO</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        @*Designed By*@ <a class="border-bottom" href="https://htmlcodex.com">@*HTML Codex*@</a>
                        <br>@*Distributed By:*@ <a class="border-bottom" href="https://themewagon.com" target="_blank">@*ThemeWagon*@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!--=============== 鈞傑新增 Login & Register =========================== -->
    <!-- Login Modal 彈出登入視窗 -->
    <div class="modal fade " id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="staticBackdropLabel">登入 IGO</h5>
                    <button type="button" class="btn-close-white btn-danger text-white-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark">
                    <br />
                    <form asp-controller="Customer" asp-action="Login">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="Login_txtAccount" name="txtAccount" placeholder="手機號碼">
                            <label for="floatingInput">帳號 (手機號碼)</label>
                        </div>
                        <br />
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control text-dark" id="Login_txtPassword" name="txtPassword" placeholder="密碼">
                            <label for="floatingPassword">密碼</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check text-white">
                                <input type="checkbox" class="form-check-input" id="reAccount">
                                <label class="form-check-label" for="exampleCheck1 ">記住帳號</label>
                            </div>
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgetPWD" data-bs-dismiss="modal">忘記密碼</button>
                        </div>
                        <h5 class="text-sm-center mb-0 text-white"> 新朋友 ? <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">立即註冊 IGO !</button></h5>
                        <br />
                        <div class="modal-footer">
                            <br />
                            <input type="submit" value="登入" class="btn btn-primary" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 返回首頁 </button>
                            <br />
                        </div>
                        <br />
                        <div class="form-group">
                            <hr />
                            <div>
                                <div class="row bg-dark">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger" id="btnDemo1">  Demo(伊佴叁) </button>
                                    </div>
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger" id="btnDemo2">  Demo(戴樂古) </button>
                                    </div>
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger" id="btnDemo3">  Demo(祝策厚) </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class=" bg-dark">
                                <br />
                                <h5 class="text-white text-center">使用其他帳號登入</h5>
                                <br />
                                <div class="row bg-dark">
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_FB.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_G.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_L.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->
    <!--使用 Login Modal 執行時檢核並顯示錯誤訊息-->
    <!--使用 Login Modal 執行時檢核並顯示錯誤訊息-->
    <!-- Register Modal 彈出註冊視窗 -->
    <div class="modal fade " id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form asp-action="Register" asp-controller="Customer">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-warning" id="rLblWelcome">歡迎加入 IGO 會員</h5>
                        <button type="button" class="btn-close-white btn-danger text-white-50" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark">
                        <br />
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="register_FLName" name="FLastName" placeholder="姓氏(LastName)" />
                            <label for="FLastName">姓氏(LastName)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="register_FFName" name="FFirstName" placeholder="名字(FirstName)" />
                            <label for="FFirstName" class="control-label">名字(FirstName)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="register_FPhone" name="FPhone" placeholder="手機號碼(IGO 帳號)" />
                            <label for="FPhone" class="control-label">手機號碼(IGO 帳號)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control text-dark" id="register_FPassword" name="FPassword" placeholder="密碼">
                            <label for="FPassword">密碼</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control text-dark" id="register_FCheckPwd" name="FCheckPwd" placeholder="確認密碼" />
                            <label for="floatingPassword">確認密碼</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="register_FEmail" name="FEmail" placeholder="E-Mail" />
                            <label for="FEmail" class="control-label">E-Mail</label>
                        </div>
                    </div>
                    <div class="modal-footer bg-dark">
                        <div class="form-group">
                            <input type="submit" value="註冊 IGO" class="btn btn-primary" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">
                                <i class="fa fa-user"> 返回登入頁面 </i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <div>
                            <div class="row bg-dark">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-danger" id="btnDemoRegister">  Demo (林炙影) </button>
                                </div>
                            </div>
                            <hr />
                            <div class=" bg-dark">
                                <br />
                                <h5 class="text-white text-center">使用其他社群帳號註冊</h5>
                                <br />
                                <div class="row bg-dark">
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_FB.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_G.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                    <div class="col text-center">
                                        <img class="rounded rounded-circle me-lg-2" src="/img/icon_L.png" alt="icon" style="width: 55px; height:55px;">
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Register Modal End -->
    <!-- Backend Modal 彈出登入視窗 -->
    <div class="modal fade " id="BackendModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="staticBackdropLabel">後臺管理員登入系統</h5>
                    <button type="button" class="btn-close-white btn-danger text-white-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark">
                    <br />
                    <form asp-controller="" asp-action="">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="Backend_txtAccount" name="txtAccount" placeholder="手機號碼">
                            <label for="floatingInput">帳號 (手機號碼)</label>
                        </div>
                        <br />
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control text-dark" id="Backend_txtPassword" name="txtPassword" placeholder="密碼">
                            <label for="floatingPassword">密碼</label>
                        </div>
                        <div class="modal-footer">
                            <br />
                            <a href="/Admin/Coupon/List" class="btn btn-primary">後台登入</a>
                            @*<input type="submit" value="登入" class="btn btn-primary" />*@
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 返回首頁 </button>
                            <br />
                        </div>
                        <br />
                        <div class="form-group">
                            <hr />
                            <div>
                                <div class="row bg-dark">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger" id="Backend_Demo">  Demo </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Backend Modal End -->
    <!--使用 Register Modal 執行時檢核並顯示錯誤訊息-->
    <!--使用 Register Modal 執行時檢核並顯示錯誤訊息-->

    <div class="modal fade " id="forgetPWD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-warning" id="rePwd_lbl">重新設定密碼</h5>
                    <button type="button" class="btn-close-white btn-danger text-white-50" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark">
                    <br />
                    <form asp-controller="" asp-action="">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control text-dark" id="rePwd_FPhone" name="FPhone" placeholder="手機號碼">
                            <label for="floatingInput">帳號 (手機號碼)</label>
                        </div>
                        <br />
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control text-dark" id="rePwd_FEmail" name="FEmail" placeholder="Email">
                            <label for="floatingPassword">Email</label>
                        </div>
                        <div class="modal-footer">
                            <br />
                            <input type="submit" value="確認" class="btn btn-primary" />
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">
                                返回登入頁面
                            </button>
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--=============== 鈞傑新增 Login & Register ==========END============== -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <a href="#" class="message-fix"><img src="~/img/robot.png" title="客服小幫手" /><p style="font-size:14px;font-weight:bold">客服小幫手</p></a>
    <a href="/Parking/Parking" class="parking-fix"><img src="~/img/parking.png" title="尋找停車位" /><p style="font-size:14px; font-weight: bold">尋找停車位</p></a>
    <a href="/CheckTicket/Capture" class="face-fix"><img src="~/img/face.png" title="入場票卷辨識" width="50" height="50" /><p style="font-size:14px; font-weight: bold">入場票卷辨識</p></a>
    @*7/28新增入場票券辨識*@


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>


    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //顯示主分類
        let CategoryIDArray = new Array();
        window.addEventListener("DOMContentLoaded", ShowCategory);
        async function ShowCategory() {

            let Response = await fetch('@Url.Content("~/Home/layoutCategory")');
            /*console.log(Response);*/
            let Datas = await Response.json();
           /* console.log(Datas);*/

            let DivCategory = document.querySelector("#category");

            for (let i = 0; i < Datas.length; i++)
            {
                let CategoryName = Datas[i].CategoryName;
                let CategoryId = Datas[i].CategoryId;

                CategoryIDArray[i] = CategoryId;
                //console.log(CategoryIDArray[i]);
                //console.log(CategoryName);
                //console.log(CategoryId);

               /* $(DivCategory).append(`<a class="btn-card" CategoryID=${CategoryId} style="margin-right:25px; color:white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">${CategoryName}</a>`);*/
                $(DivCategory).append(`<button class="btn btn-card" type="button" style="color:white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" CategoryID=${CategoryId}>${CategoryName}</button>`);
            }

            //顯示次分類
            $(".btn-card").click(function () {
                $.getJSON('@Url.Content("~/Home/layoutSubCategory")', { "idd": $(this).attr("CategoryID") },
                    function (datas) {
                        $(".card-body").empty();
                        //console.log(datas);
                        //console.log(datas.subCategoryNameList);
                        $.each(datas, function (idx, item) {
                            //console.log(item);
                            //console.log(idx);

                            //$(".card-body").append(item + "<hr/>"); //寫法1
                            $(".card-body").append(`<a class="btn btn-secondary justify-item-center" href="${item.SubCategoryPath}" type="button">${item.SubCategoryName}<a><hr/>`); //寫法2
                        })

                    })
            })
        };
        //===================================================
                //點閱後瀏覽次數增加 7/27新增
        $(window).ready(function ()
        {
            if (window.location.href.indexOf("prodid=") > -1) {
                //console.log(window.location.href);
                let querystring = window.location.search;
                let productIDstring = querystring.split("=");
                let productID = productIDstring[1];
                //console.log(productID);


                $.get('@Url.Content("~/Home/AddViewRecord")', { "Productid": productID }, function (Datas) {
                    //console.log(Datas)
                });

            }
            })
         //===================================================


    </script>


    <!-- ========================= 登入系統用============================ script -->
    <script>

        //密碼顯示切換
        $("#showPassword").click(function () {
            if ($(this).hasClass("fa-eye-slash")) {
                $(this).removeClass("fa-eye-slash").addClass("fa-eye");
                $("#inpLogInPassword").attr("type", "text");
            }
            else {
                $(this).removeClass("fa-eye").addClass("fa-eye-slash");
                $("#inpLogInPassword").attr("type", "password");
            }
        });

        //登入Demo
        $("#btnDemo1").click(function () {
            $("#Login_txtAccount").val("123");
            $("#Login_txtPassword").val("123");
        });
        $("#btnDemo2").click(function () {
            $("#Login_txtAccount").val("0931000013");
            $("#Login_txtPassword").val("123");
        });
        $("#btnDemo3").click(function () {
            $("#Login_txtAccount").val("0911911990");
            $("#Login_txtPassword").val("123");
        });

        //註冊Demo
        $("#btnDemoRegister").click(function () {
            $("#register_FLName").val("林");
            $("#register_FFName").val("炙影");
            $("#register_FPassword").val("123");
            $("#register_FCheckPwd").val("123");
            $("#register_FPhone").val("0911911990");
            $("#register_FEmail").val("carBomb@gmail.com");
        });

        //忘記密碼Demo
        $("#btnDemoForgotPassword").click(function () {
            $("#rePwd_FPhone").val("");
            $("#rePwd_FEmail").val("");
        });



    </script>
    <!-- ========================= 登入系統用=====================END======= script -->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


