@model IGO.CouponViewModel;

@{
    ViewData["Title"] = "Detail";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/@Model.FCouponImage');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 id="Coupon" class="display-3 text-white mb-3 animated slideInDown" data-coupon="@Model.FCouponId">@Model.FCouponName</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">

    </div>
</div>
<!-- Booking End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">優惠時限</h6>
            @{
                string alertMessage = "           ";
                string imgSource = "";
                if (Model.endtime.Days <= 30)
                {
                    alertMessage = "優惠即將結束";
                    imgSource = "/img/alarm.png";
                }
                else
                {
                    imgSource = "/img/noalarm.png";
                }
            }


            <br>
            <h5 class="align-items-center" style="color:cadetblue"></h5>
            <p class="align-items-end"></p>
            <p class="align-items-end"><img src="@imgSource" width="30" height="30"></p>
            <h5 class="align-items-end" style="color:red">@alertMessage</h5>
            <h1 class="mb-5">離優惠結束還剩 @Model.endtime.Days 天 </h1>
        </div>
        <div class="row g-4">

            @{
                foreach (var item in Model.VMproducts)
                {

                    //修改版商品組件
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/@item.getPhotoPath" alt="封面圖片">
                                @*<p class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">票價 / 票種</p>*@
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="mb-0"></h4>
                                </div>
                                <div class="d-flex mb-3">
                                    @for (int s = 1; s <= 4; s++)
                                    {
                                        <i class="fa fa-star text-primary"></i>
                                    }
                                </div>
                                <div class="d-flex justify-content-lg-start">
                                    <h4>@item.FProductName</h4>

                                </div>
                                <div class="d-flex justify-content-lg-start">

                                </div>
                                <div class="d-flex justify-content-lg-start">
                                    |
                                    @foreach (var q in item.tickets)
                                    {
                                        <p>@q.ticket 價格:NT$ @q.price.ToString("0")  |  </p>
                                    }
                                    @*剩餘數量:XX 張  || 已售出:XX 張*@
                                </div>
                                <div class="d-flex justify-content-lg-end">
                                    <a href="~/Product/Detail?prodid=@item.FProductId" class="btn btn-primary rounded py-2 px-4 align-items-end">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }


            <div class="col-lg-12 row col-md-6" style="margin-top:20px">
                <div id="divcalender" class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <table class="col-lg-12 col-md-6 wow fadeInUp table">
                        <thead>
                            <tr>
                                <td colspan="3">
                                    <button class="float-lg-left" id="btn_prev"><</button>
                                </td>
                                <td colspan="1">
                                    <label id="lb_month"></label>
                                </td>
                                <td colspan="3">
                                    <button class="float-lg-end" id="btn_next">></button>
                                </td>
                            </tr>
                            <tr>
                                <th>星期日</th>
                                <th>星期一</th>
                                <th>星期二</th>
                                <th>星期三</th>
                                <th>星期四</th>
                                <th>星期五</th>
                                <th>星期六</th>
                            </tr>
                        </thead>
                        <tbody id="tbcalender">
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-controller="Coupon" asp-action="AddToCart" name="cartForm">
                                    <div class="m-3" id="TicketArea">
                                        <span class="fw-bold">票種</span>
                                        @{
                                            decimal full = 0;
                                            decimal half = 0;
                                            decimal ofull = 0;
                                            decimal ohalf = 0;
                                            int d = Convert.ToInt32(Model.FDiscount);
                                            foreach (var q in Model.VMproducts)
                                            {
                                                full += q.tickets[0].price * d / 100;
                                                half += q.tickets[1].price * d / 100;
                                                ofull += q.tickets[0].price;
                                                ohalf += q.tickets[1].price;

                                            }
                                            <input type="radio" class="btn-check" id="ticket1" name="ticket" value="1" data-price="@full.ToString("0")" data-org="@ofull.ToString("0")">
                                            <label class="btn btn-outline-primary" for="ticket1">全票</label>
                                            <input type="radio" class="btn-check" id="ticket2" name="ticket" value="2" data-price="@half.ToString("0")" data-org="@ohalf.ToString("0")">
                                            <label class="btn btn-outline-primary" for="ticket2">半票</label>
                                        }
                                    </div>
                                    <input type="hidden" id="tickettype" name="fTickettype" />
                                    <input type="hidden" name="ToCartId" value="@Model.FCouponId" />
                                    <div class="m-3">
                                        <span class="fw-bold">日期</span>
                                        <input type="date" class="form-control" id="bookingTime" name="fBookingTime"disabled />
                                    </div>
                                    <div class="m-3">
                                        <span class="fw-bold">數量</span>
                                        <input type="number" class="form-control" id="input-quantity" name="fQuantity" />
                                    </div>
                                    <div class="m-3">
                                        <span class="fw-bold">原價</span>
                                        <span id="lbl-oprice">NT$ - 元</span>
                                        <button type="button" class="btn btn-primary float-lg-end" id="btn-add">
                                            <i class="bi bi-cart-plus"></i>
                                            加入購物車
                                        </button>
                                        <br />
                                        <span class="fw-bold" style="color:orangered;">打 @Model.FDiscount 折後</span>
                                        <span id="lbl-price">NT$ - 元</span>
                                        @*<input type="submit" class="btn btn-primary float-lg-end" id="btn-add" value="加入購物車" />*@

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

@section Scripts{

    <script>
        //顯示價格
        let price = document.querySelector("#lbl-price");
        let oprice = document.querySelector("#lbl-oprice");
        let checkquantity;

        $("#TicketArea").on("click", "input", function (event) {
            //console.log(event.currentTarget);
            price.textContent = `NT$ ${event.currentTarget.getAttribute("data-price")} 元`
            price.setAttribute("data-price", event.currentTarget.getAttribute("data-price"));
            $("#tickettype").val(event.currentTarget.getAttribute("value"))
            oprice.textContent = `NT$ ${event.currentTarget.getAttribute("data-org")} 元`
            oprice.setAttribute("data-org", event.currentTarget.getAttribute("data-org"));
        })

        let quantity = document.querySelector("#input-quantity");


        quantity.addEventListener("change", function () {
            if (this.value >= 0) {
                price.textContent = `NT$ ${price.getAttribute("data-price") * this.value} 元`
                oprice.textContent = `NT$ ${oprice.getAttribute("data-org") * this.value} 元`
            } else {
                this.value = 0;
                price.textContent = `NT$ ${price.getAttribute("data-price") * this.value} 元`
                oprice.textContent = `NT$ ${oprice.getAttribute("data-org") * this.value} 元`
            }
        })

        //月曆

        let tbody = document.querySelector("#tbcalender");

        const Now = new Date();
        const year = Now.getFullYear();
        const month = Now.getMonth();
        const date = Now.getDate();
        let NowYear = Now.getFullYear();
        let NowMonth = Now.getMonth();
        let NowDate = Now.getDate();
        let cid = document.querySelector("#Coupon");


        getsoldedList(cid);

        $(function () {
            changeMonth(NowMonth);
        })
        changeMonth(NowMonth);

        function changeMonth(month) {

            let list = getsoldedList(cid);
            //console.log(list);
            list.then(datas => {


                console.log(datas);

                tbody.textContent = "";
                let lbmonth = document.querySelector("#lb_month");
                lbmonth.textContent = `${NowYear} - ${NowMonth + 1}月`

                let tgmonthfirst = new Date(NowYear, NowMonth, 1);
                let tgmonthlast = new Date(NowYear, NowMonth + 1, 0);

                let str = Math.ceil((tgmonthfirst.getDay() + tgmonthlast.getDate()) / 7);
                let d = tgmonthlast.getDate() - datas.length;


                let index = 0;
                for (let i = 0; i < str; i++) {
                    let ctr = document.createElement("tr");
                    for (let j = 0; j < 7; j++) {
                        let ctd = document.createElement("td");
                        let tag = i * 7 + j;
                        if (tag < tgmonthfirst.getDay() || tag >= (tgmonthlast.getDate() + tgmonthfirst.getDay())) {
                            ctd.innerText = "";
                        } else {
                            let day = i * 7 + j + 1 - tgmonthfirst.getDay();
                            ctd.setAttribute("data-year", `${NowYear}`)
                            ctd.setAttribute("data-month", `${NowMonth + 1}`)
                            ctd.setAttribute("data-day", `${day}`)
                            d--;
                            let checkdate = new Date(`${NowYear}-${NowMonth + 1}-${day}`);
                            console.log(checkdate);
                            console.log(Now);
                            if ( index < datas.length && datas[index].day == day) {
                                console.log(index);
                                ctd.setAttribute("data-quantity", `${datas[index].SoldedNum}`)
                                ctd.innerText = day + "\n 庫存: " + datas[index].SoldedNum
                                if (datas[index].SoldedNum == 0) {
                                    ctd.style = "background-color:lightgray";
                                } else if (datas[index].SoldedNum <= 10) {
                                    ctd.style = "background-color:lightcoral";
                                } else {
                                    ctd.style = "background-color:lightblue";
                                }
                                index++;
                            }
                            else {
                                ctd.style = "background-color:lightgray";
                                ctd.innerText = day;
                            }
                        }
                        ctr.appendChild(ctd);
                    }

                    tbody.appendChild(ctr);
                }
            })

        }

        let prev = document.querySelector("#btn_prev");
        let next = document.querySelector("#btn_next");

        prev.addEventListener("click", function () {
            if (NowMonth == 0) {
                NowMonth = 12;
                NowYear--;
            }
            NowMonth--;
            changeMonth(NowMonth+1);
        })
        next.addEventListener("click", function () {
            if (NowMonth == 11) {
                NowMonth = -1;
                NowYear++;
            }
            NowMonth++;
            changeMonth(NowMonth+1);
        })

        $("#tbcalender").on("click", "td", function (event) {
            console.log(event.currentTarget);
            if (event.currentTarget.hasAttribute("data-quantity") && event.currentTarget.getAttribute("data-quantity") != 0) {
                let takeyear = event.currentTarget.getAttribute("data-year");
                let takemonth = event.currentTarget.getAttribute("data-month");
                let takeday = event.currentTarget.getAttribute("data-day");

                if (takemonth < 10) {
                    takemonth = `0${takemonth}`;
                }
                if (takeday < 10) {
                    takeday = `0${takeday}`
                }
                let takedate = `${takeyear}-${takemonth}-${takeday}`;
                checkquantity = event.currentTarget.getAttribute("data-quantity");
                console.log(checkquantity);
                $("#bookingTime").val(takedate);
            }
        })


        $("#tbcalender").on("mouseenter", "td", function (event) {
            if (event.currentTarget.hasAttribute("data-quantity") && event.currentTarget.getAttribute("data-quantity") != 0) {
                event.currentTarget.classList.toggle("bg-info");
            }
        });

        $("#tbcalender").on("mouseleave", "td", function (event) {
            if (event.currentTarget.hasAttribute("data-quantity") && event.currentTarget.getAttribute("data-quantity") != 0) {
                event.currentTarget.classList.toggle("bg-info");
            }
        });

        //=====================================

        async function getsoldedList(c) {
            //console.log(c.getAttribute("data-coupon"));
            let jsolded = await fetch('@Url.Content("~/Coupon/TakeSoldOut")' + `?cid=${c.getAttribute("data-coupon")}&month=${NowMonth}`)

            let solded = await jsolded.json();
            //console.log(solded);
            return solded;
        }

        //========新增到購物車===========
        let addtocart = document.querySelector("#btn-add");

        addtocart.addEventListener("click", async (event) => {

            let ticket = $('input[name="ticket"]:checked').val();
            let bookingTime = document.querySelector("#bookingTime");

            if (ticket == undefined) {
                alert("請選擇票種");
            }
            else if (bookingTime.value == "") {
                alert("請選擇日期");
            }
            else if (quantity.value == "" || quantity.value == 0) {
                alert("請輸入數量");
            }
            else if (parseInt(quantity.value) > parseInt(checkquantity)) {
                console.log(quantity.value);
                console.log(checkquantity);
                alert("數量高於庫存")
            }
            else {
                bookingTime.removeAttribute("disabled");
                let cartform = new FormData(document.cartForm)

                let jresponce = await fetch("@Url.Content("~/Coupon/AddToCart")", {
                    body: cartform,
                    method: "POST",
                })
                let responce = await jresponce.json();
                console.log(responce)
                alert(responce);
            }
        })

    </script>
}


@section Styles{
    <style>
        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
}
