@model IGO.Models.TCustomer
@using IGO.Controllers

@{
    ViewData["Title"] = "UserData";
}

<div class="container-xxl bg-light p-0">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row ">
                <div class="col-md-3">
                    <div>
                        <div class="card text-primary bg-dark mb-3" style="max-width: 20rem;">
                            <hr />
                            <div class=" card-title text-center">
                                <img width="150" height="150" class="rounded-circle me-lg-2" src="/img/@Model.FUserPhoto" onerror="this.src='/img/UID_0.jpg'" id="Userphoto">
                            </div>
                            <label class="text-center">
                                <button button type="button" class="btn btn-outline-primary btn" data-bs-toggle="modal" data-bs-target="#EditImgModal">
                                    <i title="" class="fa fa-camera">  頭貼修改  </i>
                                </button>
                            </label>
                            <hr />
                            <div class="card-body">
                                <h4 class="text-primary text-center ">@CustomerController.userName</h4>
                            </div>
                        </div>
                        <!--============================================這邊加入超連結======================================================================================-->
                        <div class="card text-primary bg-dark mb-3" style="max-width: 20rem;">
                            <ul class="list-group">
                                <li class="list-group-item bg-dark">
                                    <a href="/Customer/UserData" class=" text-center "><i class="fa-solid fa-user-pen"> 個人資訊</i></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/Customer/EditPWD" class=" text-center "><i class="fa-solid fa-key"> 修改密碼</i></a>
                                </li>
                                <li class="list-group-item">
                                    @Html.ActionLink("刪除帳戶與個人資料", "Delete", new { /* id=item.PrimaryKey */}, new { onclick = "return confirm('確定要刪除嗎?')" })
                                </li>
                                <li class="list-group-item ">
                                    @*宜潔7/30修改*@
                                    @Html.ActionLink("我的訂單", "Order", "Order", new { /* id=item.PrimaryKey */ }, new { })
                                </li>
                                <li class="list-group-item">
                                    @Html.ActionLink("我的收藏", "myFavGroup", "Collection", new { }, new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item ">
                                    @Html.ActionLink("我的評論", "CommentList", "Comment", new { }, new { /* id=item.PrimaryKey */ })
                                </li>
                            </ul>
                            <div class="card-body text-end ">
                                <a href="/Customer/Logout"><i class="fa-solid fa-right-from-bracket"></i> 登出</a>
                            </div>
                        </div>
                        <!--============================================這邊加入超連結======================================================================================-->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="border">
                        <div class="card-header bg-dark">
                            <h1 class="text-primary">帳號設定</h1>
                        </div>
                        <div class="border-top-0">
                            <div class="bg-white shadow" style="padding: 35px;">
                                <form asp-controller="Customer" asp-action="UserData" name="UserInfo">
                                    <div class="tab-content">
                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <input type="hidden" value="@Model.FCustomerId" name="FCustomerId" />
                                                    <div class="p-3 border list-group-item-primary">
                                                        <label asp-for="FLastName" class="control-label "></label>
                                                        <input asp-for="FLastName" class="form-control" id="editLastName" name="FLastName" />
                                                        <span asp-validation-for="FLastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border list-group-item-primary">
                                                        <label asp-for="FFirstName" class="control-label"></label>
                                                        <input asp-for="FFirstName" class="form-control" id="editFirstName" name="FFirstName" />
                                                        <span asp-validation-for="FFirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border list-group-item-primary">
                                                        <label asp-for="FGender" class="control-label"></label>
                                                        <select name="FGender" id="sel_gender">
                                                            <option>男</option>
                                                            <option>女</option>
                                                        </select>
                                                        <span asp-validation-for="FGender" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 list-group-item-primary">
                                                        <label class="control-label">居住城市</label>
                                                        <select id="sel_city" name="FCityId">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 list-group-item-primary">
                                                        <label asp-for="FBirth" class="control-label"></label>
                                                        <input type="date" name="FBirth" id="editBirth" value="@Model.FBirth"/>
                                                        <span asp-validation-for="FBirth" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 list-group-item-primary">
                                                        <label asp-for="FAddress" class="control-label"></label>
                                                        <input asp-for="FAddress" class="form-control" name="FAddress" />
                                                        <span asp-validation-for="FAddress" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 border list-group-item-primary">
                                                        <label asp-for="FEmail" class="control-label"></label>
                                                        <input asp-for="FEmail" class="form-control" name="FEmail" id="editEmail" />
                                                        <span asp-validation-for="FEmail" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <input type="submit" value="儲存並修改" class="btn btn-primary" id="editUserinfo" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 修改頭貼Modal 彈出登入視窗 -->
<div class="modal fade " id="EditImgModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="staticBackdropLabel">會員頭貼修改</h5>
                <button type="button" class="btn-close-white btn-danger text-white-50" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <br />
                <form asp-controller="Customer" asp-action="EditImg" enctype="multipart/form-data" name="editimg" method="post">

                    <input type="hidden" value="@Model.FCustomerId" name="customerID" />
                    <div class="text-center">
                        <img width="150" height="150" class="rounded-circle me-lg-2" src="/img/@Model.FUserPhoto" onerror="this.src='/img/UID_0.jpg'" id="Editphoto">
                    </div>

                    <div class="form-group">
                        <input type="file" name="photo" class="form-control" id="photofile" aria-describedby="inputGroupFileAddon04" />
                        <label class="control-label" for="photofile" id="labfile">選擇檔案</label>
                    </div>
                    <div class="modal-footer">
                        <br />
                        <button type="submit" class="btn btn-primary" id="memEdit">修改</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 關閉</button>
                        <br />
                    </div>
                    <br />
                    <div class="form-group">
                        <hr />
                        <div>
                            <div class="row bg-dark">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-danger" id="Backend_Demo">  Demo </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Backend Modal End -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    //修改頭像預覽圖片
    let userPhoto = document.querySelector("#Editphoto");

    $("#photofile").change(function () {
        let file = this.files[0];
        let objectURL = URL.createObjectURL(file);
        userPhoto.src = objectURL;
    })

    let editPhoto = document.querySelector("#memEdit");
    editPhoto.addEventListener("click",async function (event) {
        event.preventDefault();
        let editImg = new FormData(document.editimg);

        let jresult = await fetch("EditImg", {
            body: editImg,
            method:"POST",
        })
        let result = await jresult.json();
        console.log(result);
        alert("頭貼修改成功");
        window.location.href = "/Customer/UserData";
    })

    takecitys();

    async function takecitys() {
        let selcitys = document.querySelector("#sel_city");
            let frag = document.createDocumentFragment();

            let jcitys = await fetch('@Url.Content("~/Api/getCity")');

            let citys = await jcitys.json();
            console.log(citys);
            citys.forEach(item => {
                let option = new Option;
                option.value = item.FCityId;
                option.textContent = item.FCityName;
                frag.appendChild(option);
            })
            selcitys.appendChild(frag);
        }

        let editUserinfo = document.querySelector("#editUserinfo");
        editUserinfo.addEventListener("click", async function (event) {
            event.preventDefault();

            let lastname = document.querySelector("#editLastName");
            let firstname = document.querySelector("#editFirstName");
            let birth = document.querySelector("#editBirth");
            let email = document.querySelector("#editEmail");


            if (lastname.value == "") {
                alert("請輸入姓氏")
            } else if (firstname.value == "") {
                alert("請輸入名字")
            } else if (birth.value == "") {
                alert("請選擇生日")
            } else if (email.value == "") {
                alert("請輸入Email")
            } else {
                let userInfo = new FormData(document.UserInfo);
                //console.log(userInfo);
                let jresult = await fetch("UserData", {
                    body: userInfo,
                    method: "POST",
                })
                let result = await jresult.json();
                if (result == true) {
                    alert("修改成功");
                }
                else {
                    alert("資料有誤")
                }
            }

        })



    </script>


}


@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@



