@model List<IGO.ViewModels.COrdersViewModel>


@{
    ViewData["Title"] = "List";
}

<h3>訂單狀態查詢</h3>
<br>
<select class="form-select text-white" aria-label="Default select example" style="border:1px solid white" id="selStatus">
    <option class="text-white" value="1">已下訂</option>
    <option class="text-white" value="2">取消訂單</option>
    <option class="text-white" value="3">已出貨</option>
    <option class="text-white" value="4">完成訂單</option>
    <option class="text-white" value="5">取消程序中</option>
</select>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table-dark table">
    <thead>
        <tr align="right">
            <th>
                   訂單編號
                </th>
                @*<th>
                   顧客編號
                </th>*@
            <th>
                顧客姓氏
            </th>
            <th>
                顧客名字
            </th>
            <th>
                訂單日期
            </th>
            <th>
                價格
            </th>
            <th>
                訂單狀態
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr align="right">
                <td>
                        @item.OrderId
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>*@
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @Convert.ToDateTime(item.OrderDate)
                </td>
                <td>
                    @String.Format("{0:C0}", item.TotalPrice)
                </td>
                <td>
                    @item.StatusName
                </td>          
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="staticBackdropLabel">訂單狀態修改</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>訂單編號</label><span>: </span><input class="form-control text-white" id="txtOrderID" type="text" value="">
                <hr>
                <label>訂單狀態</label><span>: </span><input class="form-control text-white" id="txtStatus" type="text" value="">
                <br><br>
                <select class="form-select text-white" aria-label="Default select example" style="border:1px solid white" id="EditStatus">
                    <option class="text-white" value="0"></option>
                    <option class="text-white" value="1">已下訂</option>
                    <option class="text-white" value="2">取消訂單</option>
                    <option class="text-white" value="3">已出貨</option>
                    <option class="text-white" value="4">完成訂單</option>
                    <option class="text-white" value="5">取消程序中</option>
                </select>
                <br><br>
                <button type="button" data-bs-dismiss="modal" aria-label="Update" id="update" class="btn-danger">更新</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#selStatus').change(function ()
        {
        $('tbody').empty();
        //console.log($('option:selected').val());
            let statusID = $('option:selected').val();
            $.get('@Url.Content("~/Admin/Order/QueryByCancelOrder")', { "id": statusID },
            function (datas)
            {
                //console.log(datas);
                $.each(datas, function (idx, item)
                {
                    //console.log(item);

                    $('tbody').append(`<tr align="right"><td>${item.lastName}</td><td>${item.firstName}</td><td>${item.orderDate}</td><td>${item.totalPrice}元</td><td>${item.statusName}</td><td>
                    <button class="btn btn-danger btnEdit" id=orderID-${item.orderId} data-bs-toggle="modal" data-bs-target="#staticBackdrop">編輯</button></td></tr>`)
                })
                }
            )


        })

        $(document).on("click", ".btnEdit", function ()   /* 動態產生的元素需用on繫結事件*/
        {
            let orderid = $(this).attr("id");
            //console.log(orderid);
            $.get('@Url.Content("~/Admin/Order/EditByOrderID")', { "Orderid": orderid }, function (datas) {
                //console.log(datas);
                //console.log(datas.statusName);
                //console.log(datas.orderId);
                $('#txtStatus').val(datas.statusName);
                $('#txtOrderID').val(datas.orderId);

            })

        })

        $('#EditStatus').on("change", function ()
        {

            $('#txtStatus').val($('#EditStatus>option:selected').text());


        })
        $('#update').on("click", function ()   /*更新訂單取消申請為取消訂單的狀態*/
        {
            let changeStatueID = $('#EditStatus>option:selected').val();
            //console.log(changeStatueID);
            let changeOrderId = $('#txtOrderID').val();
            //console.log(changeOrderId);
            alert('確定更新訂單狀態?');

            $.get('@Url.Content("~/Admin/Order/UpdateByOrderID")', { "Orderid": changeOrderId, "Statusid": changeStatueID }, function (datas)
            {
                
                //console.log(datas);
            })
        })



    </script>
}