@model TSupplier;

@{
    ViewData["Title"] = "Detail";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/@Model.FImage');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 id="Supplier" class="display-3 text-white mb-3 animated slideInDown" data-supplier="@Model.FSupplierId">@Model.FCompanyName</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-0">
                <div class="col-lg-12 row col-md-6">
                    <div id="divcalender" class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <table class="col-lg-12 col-md-6 wow fadeInUp table" style="font-size:70%">
                            <thead>
                                <tr>
                                    <td colspan="3">
                                        <button class="float-lg-left" id="btn_prev"><</button>
                                    </td>
                                    <td colspan="1">
                                        <label id="lb_month"></label>
                                    </td>
                                    <td colspan="3">
                                        <button class="float-lg-end" id="btn_next">></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>星期日</th>
                                    <th>星期一</th>
                                    <th>星期二</th>
                                    <th>星期三</th>
                                    <th>星期四</th>
                                    <th>星期五</th>
                                    <th>星期六</th>
                                </tr>
                            </thead>
                            <tbody id="tbcalender">
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="row g-2">
                            <form name="AddToCartForm" asp-controller="Live" asp-action="AddToCart">
                                <div class="col-md-10">
                                    <select class="form-select" id="sel_roomtype" name="ToCartId">
                                        <option selected>請選擇房型</option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-select" id="sel_ticket" name="fTickettype">
                                        <option selected>請選擇人數</option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <span class="fw-bold">預定時間:</span>
                                    <input type="date" name="fBookingTime" class="col-md-8" id="bookingTime"/>
                                </div>
                                <div class="col-md-10">
                                    <span class="fw-bold">數量:</span>
                                    <input type="number" name="fQuantity" class="col-md-8" id="quantity" disabled/>
                                </div>
                                <div class="col-md-10">
                                    <span class="fw-bold">價格</span>
                                    <span id="lbl-price">NT$ - 元</span>
                                </div>
                                <div class="col-md-10">
                                    <button class="btn btn-primary w-100" id="AddToCart">預定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">房型一覽</h6>
            </div>
            <div class="row g-5 align-items-center">
                <div class="row g-4" id="productList">

                </div>
            </div>
        </div>
    </div>
    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@


    @section Scripts{
        <script>



            let divproduct = document.querySelector("#productList");
            const supplier = document.querySelector("#Supplier");
        const roomtype = document.querySelector("#sel_roomtype");
            const ticket = document.querySelector("#sel_ticket");
            const quantity = document.querySelector("#quantity");
            const lbprice = document.querySelector("#lbl-price");

        roomtype.addEventListener("change", async function () {
            //console.log(this.options[this.selectedIndex].value);

            quantity.setAttribute("disabled", true);
            quantity.value = 1;

            let jticket = await fetch('@Url.Content("~/Live/gettickets")' + `?prodid=${this.options[this.selectedIndex].value}`);

            let tickets = await jticket.json();
            console.log(tickets);
            let frag = document.createDocumentFragment();
            ticket.textContent = "";
            let optionf = new Option;
            optionf.textContent = "請選擇人數";
            optionf.setAttribute("data-price", "-");
            ticket.appendChild(optionf);
            for (let i = 0; i < tickets.length; i++) {
                let option = new Option;
                option.value = tickets[i].ticketid;
                option.textContent = tickets[i].ticket;
                option.setAttribute("data-price", tickets[i].price);
                frag.appendChild(option);
            }
            ticket.appendChild(frag);
        })

        ticket.addEventListener("change", function () {
            console.log(this.options[this.selectedIndex].getAttribute("data-price"));
            lbprice.textContent = `NT$ ${this.options[this.selectedIndex].getAttribute("data-price")} 元`;

            quantity.removeAttribute("disabled");

            NowYear = Now.getFullYear();
            NowMonth = Now.getMonth();
            NowDate = Now.getDate();
            changeMonth(NowMonth);
        })

        takeProduct()

    async function takeProduct() {
        let jproduct = await fetch('@Url.Content("~/Live/getRoomType")' + `?supid=${supplier.getAttribute("data-supplier")}`);

            let product = await jproduct.json();
            console.log(product);
            showList(product);
        }

        async function showList(prod) {

            let frag = document.createDocumentFragment();
            divproduct.textContent = "";
            prod = JSON.parse(prod);
            console.log(prod);
            let fragroom = document.createDocumentFragment();

            //生成商品組
            prod.forEach(item => {

                let option = new Option;
                option.value = item.FProductId;
                option.textContent = item.FProductName;
                fragroom.appendChild(option);

                //console.log(item);
                let div1 = document.createElement("div");
                let div2 = document.createElement("div");
                let div3 = document.createElement("div");
                let div4 = document.createElement("div");
                let div4_1 = document.createElement("div");
                let div4_2 = document.createElement("div");
                let div4_3 = document.createElement("div");
                let div4_4 = document.createElement("div");
                let img1 = document.createElement("img");
                let p1 = document.createElement("p");
                let h4 = document.createElement("h4");
                let a1 = document.createElement("a");
                let i = document.createElement("i");

                div1.className = "col-lg-4 col-md-6 wow fadeInUp";
                div1.setAttribute("data-wow-delay", "0.1s");
                div2.className = "room-item shadow rounded overflow-hidden";
                div3.className = "position-relative";
                img1.className = "img-fluid";
                img1.src = `/img/${item.getPhotoPath}`;
                p1.className = "position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4";
                p1.innerText = `使用期限至 ${item.FEndTime}`;
                div3.appendChild(img1);
                div3.appendChild(p1);
                div4.className = "p-4 mt-2";
                div4_1.className = "d-flex mb-3";
                for (var s = 1; s <= 4; s++) {
                    div4_1.innerHTML += '<i class="fa fa-star text-primary"></i>';
                }
                i.className = "fa-solid fa-heart fa-regular";
                i.style = "padding:0px 0 0 10px ;font-size:150%";
                i.setAttribute("data-id", item.FProductId);
                div4_1.appendChild(i);
                div4_2.className = "d-flex justify-content-lg-start";
                h4.innerText = `${item.FProductName}`;
                div4_2.appendChild(h4);
                div4_3.className = "d-flex justify-content-lg-start";

                item.tickets.forEach(q => {
                    let p2 = document.createElement("p");
                    p2.innerText = `| ${q.ticket} 價格:NT$ ${q.price} | `;
                    div4_3.appendChild(p2);
                })
                div4_4.className = "d-flex justify-content-lg-end";
                a1.href = `Detail?prodid=${item.FProductId}`;
                a1.className = "btn btn-primary rounded py-2 px-4 align-items-end";
                a1.textContent = "詳細資訊";
                div4_4.appendChild(a1);

                div4.appendChild(div4_1);
                div4.appendChild(div4_2);
                div4.appendChild(div4_3);
                div4.appendChild(div4_4);

                div2.appendChild(div3);
                div2.appendChild(div4);
                div1.appendChild(div2);
                frag.appendChild(div1);


            })
            roomtype.appendChild(fragroom);
            divproduct.appendChild(frag);
        }

        //=========加入購物車=============

        let toCart = document.querySelector("#AddToCart");

        toCart.addEventListener("click", async function () {

            //this.preventDefault();
            event.preventDefault();
            console.log(event);

            let cartform = new FormData(document.AddToCartForm)

            let jresponce = await fetch("AddToCart", {
                body: cartform,
                method: "POST",
            })
            let responce = await jresponce.json();
            console.log(responce)
            alert(responce);

        });


        //月曆

        let tbody = document.querySelector("#tbcalender");

        const Now = new Date();
        let NowYear = Now.getFullYear();
        let NowMonth = Now.getMonth();
        let NowDate = Now.getDate();

        //console.log(Now);
        //console.log(NowYear);
        //console.log(NowMonth);
        //console.log(NowDate);

        changeMonth(NowMonth);

        function changeMonth(month) {

            let list = getsoldedList();
            //console.log(list);
            list.then(datas => {


                console.log(datas);

                tbody.textContent = "";
                let lbmonth = document.querySelector("#lb_month");
                lbmonth.textContent = `${NowYear} - ${NowMonth + 1}月`

                let tgmonthfirst = new Date(NowYear, NowMonth, 1);
                let tgmonthlast = new Date(NowYear, NowMonth + 1, 0);

                let str = Math.ceil((tgmonthfirst.getDay() + tgmonthlast.getDate()) / 7);


                let index = 0;
                for (let i = 0; i < str; i++) {
                    let ctr = document.createElement("tr");
                    for (let j = 0; j < 7; j++) {
                        let ctd = document.createElement("td");
                        let tag = i * 7 + j;
                        if (tag < tgmonthfirst.getDay() || tag >= (tgmonthlast.getDate() + tgmonthfirst.getDay())) {
                            ctd.innerText = "";
                        } else {
                            let day = i * 7 + j + 1 - tgmonthfirst.getDay();
                            ctd.setAttribute("data-year", `${NowYear}`)
                            ctd.setAttribute("data-month", `${NowMonth + 1}`)
                            ctd.setAttribute("data-day", `${day}`)
                            if (index < datas.length && datas[index].day == day) {
                                ctd.innerText = day + "\n 庫存: " + datas[index].SoldedNum
                                index++;
                            }
                            else {
                                ctd.innerText = day;
                            }
                        }
                        ctr.appendChild(ctd);
                    }
                    tbody.appendChild(ctr);
                }
            })
        }

        let prev = document.querySelector("#btn_prev");
        let next = document.querySelector("#btn_next");

        prev.addEventListener("click", function () {
            if (NowMonth == 0) {
                NowMonth = 12;
                NowYear--;
            }
            NowMonth--;
            changeMonth(NowMonth + 1);
        })
        next.addEventListener("click", function () {
            if (NowMonth == 11) {
                NowMonth = -1;
                NowYear++;
            }
            NowMonth++;
            changeMonth(NowMonth + 1);
        })

        $("#tbcalender").on("click", "td", function (event) {
            console.log(event.currentTarget);
            let takeyear = event.currentTarget.getAttribute("data-year");
            let takemonth = event.currentTarget.getAttribute("data-month");
            let takeday = event.currentTarget.getAttribute("data-day");

            if (takemonth < 10) {
                takemonth = `0${takemonth}`;
            }
            if (takeday < 10) {
                takeday = `0${takeday}`
            }
            let takedate = `${takeyear}-${takemonth}-${takeday}`;

            $("#bookingTime").val(takedate);
        })

        //=====================================


        async function getsoldedList() {
            //console.log(c.getAttribute("data-coupon"));
            let jsolded = await fetch('@Url.Content("~/Live/TakeSoldOut")' + `?cid=${roomtype.options[roomtype.selectedIndex].value}&month=${NowMonth}&ticketid=${ticket.options[ticket.selectedIndex].value}`)

            let solded = await jsolded.json();
            //console.log(solded);
            return solded;
            }

            quantity.addEventListener("change", function () {
                if (this.value >= 0) {
                    lbprice.textContent = `NT$ ${this.value * ticket.options[ticket.selectedIndex].getAttribute("data-price")} 元`;
                } else {
                    this.value = 0;
                    lbprice.textContent = `NT$ ${this.value * ticket.options[ticket.selectedIndex].getAttribute("data-price")} 元`;
                }
                //console.log(this.value);
                
            })

        </script>
    }
