@model IEnumerable<IGO.ViewModels.CShoppingCartViewModel>

@{
    ViewData["Title"] = "確認付款資訊";
}

<div class="col-md-2"></div>
<div class="col-md-8" id="app" style="margin: auto">

    <div style="margin:1em 0 1em 0">

        <a href="@Url.Content("~/ShoppingCart/List")">
            <span style="font-weight:lighter;color:#666565">購物車</span>
        </a>

        <i s class="fa-solid fa-angle-right"></i>
        <span style="font-weight:bold">
            填寫資料與付款
        </span>
        <i class="fa-solid fa-angle-right"></i>
        <span style="font-weight:lighter">訂購完成</span>
    </div>



    <div class="card p-3" style="margin-bottom:2%;">

        <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" id="aArrowMember" aria-controls="collapseExample">
            <h6><i id="arrowMember" class=" fa-arrow-right fa-solid ">訂購人資料</i></h6>

        </a>

        <form class="row collapse" id="collapseExample">
            <hr>
            <div class="col-md-4">
                <label for="inputFirstName" class="form-label">名字</label>
                <input type="text" class="form-control" id="inputFirstName" value="@Model.FirstOrDefault().customer.FFirstName">
            </div>
            <div class="col-md-4">
                <label for="inputLastName" class="form-label">姓氏</label>
                <input type="text" class="form-control" id="inputLastName" value="@Model.FirstOrDefault().customer.FLastName">
            </div>
            <div class="col-4"></div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">國家/地區</label>
                <input type="text" class="form-control" id="inputAddress" value="@Model.FirstOrDefault().city.FCityName">
            </div>

            <div class="col-md-4">
                <label for="inputPhone" class="form-label">聯絡電話</label>
                <input type="text" class="form-control" id="inputPhone" value="@Model.FirstOrDefault().customer.FPhone">

            </div>
            <div class="col-md-8">
                <label for="inputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="inputEmail" value="@Model.FirstOrDefault().customer.FEmail">

            </div>



        </form>

    </div>



    <div class="card card p-5" style="margin-bottom: 2%;">
        <h3>付款明細</h3>
        <table class="table  data-table2 col-12" style="min-width: 100%;">

            <thead style="text-align:center">
                <tr>
                    <th>
                        產品名稱
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FBookingTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FQuantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FTotalPrice)
                    </th>
                   
                </tr>
            </thead>
            <tbody style="text-align:center">
                @{ int Total = 0;

                    foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.product.FProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FBookingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FTotalPrice)
                            </td>
                            

                        </tr>

                        Total += (int)item.FTotalPrice;
                    }
                   
                }
            </tbody>
        </table>

    </div>
    <h6>優惠券折抵</h6>
    <div class="card p-5" style="margin-bottom:2%;">
        <div class="col-md-4">
            <button type="button" class="btn btn-light btn-lg" style="color:brown" data-bs-toggle="modal" data-bs-target="#exampleModal">
                查詢優惠券
            </button>
            <span id="voucherAppear">未使用任何優惠券</span>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">優惠券</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @{
                                foreach (var item in Model.FirstOrDefault().voucher)
                                {
                                    <div class="card">
                                        <h5 class="card-header">@item.FVoucherName</h5>
                                        <div class="card-body">
                                            <h5 class="card-title">現金@((int)item.FVoucherPrice)元折價券</h5>
                                            <p class="card-text">截止日期:@(item.FVoucherEndDate)</p>
                                            <button class="btn btn-primary" data-value="@((int)item.FVoucherPrice)" id="btnVoucher" style="float:right">使用</button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="modal-footer">
                            <p id="voucherPrice">未使用任何票券</p>
                            <button type="button" class="btn btn-light btn-lg" id="voucherConfirm" data-bs-dismiss="modal">確認</button>
                            <button type="button" class="btn btn-light btn-lg" id="voucherCancel">取消使用</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>





        </div>

     

        <div class="card p-3" style="margin-bottom:2%;">
            <div style="display:flex;justify-content:end">
                <h4 id="totalAppear" style="color: #26bec9;margin-top:10px"> TWD @Total 元</h4>
                @*<a href="@Url.Content("~/ShoppingCart/Finish")">*@<input class="btn btn-light btn-lg" v-on:click="SendToNewebPay('CREDIT')" style="font-family:Arial;color:brown" type="submit" name="btnPay" value="確認付款" />@*</a>*@
            </div>
        </div>

    </div>

<div class="col-md-2"></div>



@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

@section Scripts{
    <script>
            const aArrowMember = $("#aArrowMember");
            const arrowMember = $("#arrowMember");
            const aArrowPay = $("#aArrowPay");
            const arrowPay = $("#arrowPay");
            let final = @Total;
        console.log(final);
            aArrowMember.click(function () {
                arrowMember.toggleClass("fa-arrow-right fa-arrow-down");

            })
            aArrowPay.click(function () {
                arrowPay.toggleClass("fa-arrow-right fa-arrow-down");

            })
        //==========================優惠券======================================
        $(document).ready(function () {
            const btnVoucher = document.querySelectorAll("#btnVoucher")   //優惠券使用按鈕
            const voucherPrice = $("#voucherPrice") // 折價顯示
            const voucherConfirm = $("#voucherConfirm") //優惠券確認按鈕
            const voucherAppear = $("#voucherAppear") //優惠券顯示
            const voucherCancel = $("#voucherCancel") // 優惠券取消
            const totalAppear = $("#totalAppear");   //最終價錢金額顯示
            let voucher = 0; //折價金額

            btnVoucher.forEach(function (data) {
                data.addEventListener("click", function () {
                    $(btnVoucher).text("使用").prop("disabled", false);
                    $(this).html('<i class="fa-solid fa-check"></i>');
                    $(this).prop("disabled", true);
                    voucherPrice.text(`現金折價${$(this).data("value")}元`);
                    voucher = $(this).data("value");
                });
            })
            //=======================票券確認================================
            voucherConfirm.click(function () {
                if (voucher == 0) {
                    voucherAppear.text("未使用任何票券");
                    final = @Total;
                }
                else {
                    voucherAppear.text(`現金折價${voucher}元`);
                    totalAppear.text("@Total 元      -      " + `現金折價${voucher}元` + `      =      TWD${@Total-voucher}元`);
                    final = @Total- voucher;


                }
            });

            //========================票券取消================================
            voucherCancel.click(function(){
                $(btnVoucher).text("使用").prop("disabled", false);
                voucher = 0;
                voucherPrice.text("未使用任何票券");
                totalAppear.text(`TWD${@Total}元`);
                final = @Total;
            })

        })


        //===========================付款方式================================
        const app = Vue.createApp({

            data() {
                return {
                    // 表單資料
                    addForm: {
                        MerchantID: '@ViewData["MerchantID"]' //商品代號
                        , MerchantOrderNo: '@ViewData["MerchantOrderNo"]'
                        , ItemDesc: '測試商品'
                        , Amt: final
                        , ExpireDate: '@ViewData["ExpireDate"]'
                        , ReturnURL: '@ViewData["ReturnURL"]'
                        , CustomerURL: '@ViewData["CustomerURL"]'
                        , NotifyURL: '@ViewData["NotifyURL"]'
                        , ClientBackURL: '@ViewData["ClientBackURL"]'
                        , Email: 'igocompanysender@gmail.com'
                    }
                }
            }
            , methods: {
                // 傳送至藍新金流
                SendToNewebPay(ChannelID) {
                    var self = this;

                    // 組合表單資料
                    var postData = {};
                    postData['ChannelID'] = ChannelID;
                    postData['MerchantID'] = self.addForm.MerchantID;
                    postData['MerchantOrderNo'] = self.addForm.MerchantOrderNo;
                    postData['ItemDesc'] = self.addForm.ItemDesc;
                    postData['Amt'] = final
                    postData['ExpireDate'] = self.addForm.ExpireDate;
                    postData['ReturnURL'] = self.addForm.ReturnURL;
                    postData['CustomerURL'] = self.addForm.CustomerURL;
                    postData['NotifyURL'] = self.addForm.NotifyURL;
                    postData['ClientBackURL'] = self.addForm.ClientBackURL;
                    postData['Email'] = self.addForm.Email;

                    // 使用 jQuery Ajax 傳送至後端
                    $.ajax({
                        url: '@Url.Content("~/ShoppingCart/SendToNewebPay")',
                        method: 'POST',
                        dataType: 'json',
                        data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
                        success: function(returnObj) {
                            // 呼叫藍新金流 API
                            const form = document.createElement('form');
                            form.method = 'post';
                            form.action = 'https://ccore.newebpay.com/MPG/mpg_gateway';//藍新金流驗證網址(測試環境)

                            for (const key in returnObj) {
                                if (returnObj.hasOwnProperty(key)) {
                                    const hiddenField = document.createElement('input');
                                    hiddenField.type = 'hidden';
                                    hiddenField.name = key;
                                    hiddenField.value = returnObj[key];
                                    form.appendChild(hiddenField);
                                }
                            }
                            document.body.appendChild(form);
                            form.submit();
                        },
                        error: function(err) {
                            alert(err.status + " " + err.statusText + '\n' + err.responseText);
                        }
                    });
                }
            }
        });
        const vm = app.mount('#app');

    </script>




}
